body{
    padding-right: 0;
}
.navbar{
    padding-top: 0%;
    padding-bottom: 0%;
}

.container-fluid-datos {
    background-color: #048a813a;
    padding-top: 1%;
    padding-bottom: 1%;
}
#grafica {
    width: 80px;
    height: 70px;
    }
.col-md-2{
    margin-left: 2%;
    padding: 0, 0;
    height: 80px;
    font-size: 10px;
    margin-top: 0;
}
.btn-info-buscar{
    margin-left: 63%;
}
.col-lg-10.col-md-10.col-sm-10.col-xs-10{
    padding-left: 0;
    padding-right: 0;
    width: 120%;
}
.mapa{
    position:absolute;
    z-index: -1;
}
.punto{
    position:absolute;
    z-index: 1;
    visibility: visible;
    top: 100px;
    left: 700px;
}
  .footer {
    /*background-image: url("https://i.stack.imgur.com/AZ2Xw.png");
    background-position: center center;
    background-repeat: no-repeat;*/
    width: 100%;
    min-height: 40px;
    position: relative;
    bottom: 0px;
    background-color: #048a81;
  }
  .col-2{
    background-color: #048a81;
    height: 600px;
  }
  .list-group{
    width: 90%;
    margin-left: 8%;
  }
  #boton-daño{
    height: 30px;
    margin-top: 10px;
    font-size: 12px;
    vertical-align: middle;
}

  